#work-images-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 80%;
  rotate: 90deg;
  padding: 0 5rem;
}

.hex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: -10px;
  padding: 0px;
  gap: 10px;
}

.hex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 17rem;
  background-color: rgb(22, 62, 100);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  box-shadow: 15px 15px 40px var(--main-shadow-color) inset;
}

.inner-hex {
  width: 14rem;
  height: 16rem;
  background-color: var(--main-background-color);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-size: cover;
}

.hex:hover {
  scale: 0.75;
  transition: all .4s ease-in-out;
  background-color: var(--main-hover-text-color);
  box-shadow: 15px 15px 60px rgb(160, 32, 211) inset;
  animation: rotate-360 2s ease-in-out;
}