*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 10px;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--soft-black);
  height: 100vh;
}

.dropbtn {
  width: 4rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropbtn i {
  color: red;
  scale: 1.9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.content {
  --content-height: 0px;

  display: none;
  position: absolute;
  right: 0;
  background-color: orange;
  z-index: 1;
  overflow: auto;
  overflow-y: hidden;
  overflow-x: hidden;
}

.dropdown:hover .content {
  animation: dropDownUnroll 1s ease-in-out;
}

.content div {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
}

.content span {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  white-space: nowrap;
  padding-right: 15px;
}

@keyframes dropDownUnroll {
  0% {
    height: 0px;
  }
  100% {
    height: var(--content-height);
  }
}