@font-face {
  font-family: Standard;
  src: url(../Fonts/Queensides_Normal.ttf);
}

#header {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  background-color: rgb(70, 70, 70);
  width: 100%;
  height: 10vh;
  box-shadow: 0px 10px 40px #5ad4dd;
  z-index: 999;
  transition: all .5s ease-in-out;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 85%;
  border-radius: 0px 0px 30px 30px;
  transition: all .5s ease-in-out;
}

.grid-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navigation-links {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Standard, Arial;
  color: white;
  text-shadow: 0px 0px 20px #5ad4dd;
}

.navigation-links span {
  text-decoration: underline;
  transition: all .2s ease-in-out;
}

.navigation-links span:hover {
  color: #5ad4dd;
  transform: scale(1.2);
}

.disable {
  text-decoration: none !important;
  pointer-events: none;
}

/* Extra Small Devices (Phones) */
@media only screen and (max-width: 576px) {}

/* Small Devices (Tablets) */
@media only screen and (min-width: 577px) and (max-width: 768px) {}

/* Medium Devices (Laptops) */
@media only screen and (min-width: 769px) and (max-width: 992px) {}

/* Large Devices (Desktops) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {}

/* Extra Large Devices (Large Desktops) */
@media only screen and (min-width: 1201px) {}