.page-controller {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* padding on scroll for page content to align */
.sticky+#page-body {
  padding-top: 6vh;
}