*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header, .footer {
  position: relative;
  background-color: darkgray;
  color: white;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.header {
  position: sticky !important;
  top: 0;
}

.card {
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
}