#header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 8dvh;
  z-index: 999;
  background-color: var(--soft-black);
  opacity: 95%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 85%;
  border-radius: 0px 0px 30px 30px;
  transition: all .5s ease-in-out;
}