.navigation-links {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  gap: 4rem;
  color: var(--main-text-color);
  font-family: var(--main-font-family);
  font-size: var(--main-header-font-size);
  text-shadow: 0px 0px 20px var(--main-shadow-color);
  user-select: none;
}

.navigation-links span {
  text-decoration: underline;
  transition: all .2s ease-in-out;
}

.navigation-links span:hover {
  color: var(--main-hover-text-color);
  transform: scale(1.2);
}

.disable {
  text-decoration: none !important;
  pointer-events: none;
}