:root {
  --main-background-color: rgb(70, 70, 70);
  --main-text-color: #ffffff;
  --main-shadow-color: #5ad4dd;
  --main-hover-text-color: #5ad4dd;
  --soft-black: rgb(14, 17, 17);

  --main-font-family: StandardV2, Standard, Arial;
  --main-header-font-size: 2.5rem;
  --main-title-font-size: 8rem;
  --main-body-font-size: 0rem;
  --main-footer-font-size: 0rem;

  --navigation-gap-size: 4rem;
}

@font-face {
  font-family: Standard;
  src: url(../../Resources/Fonts/Queensides_Normal.ttf);
}

@font-face {
  font-family: StandardV2;
  src: url(../../Resources/Fonts/Lora-VariableFont_wght.ttf);
}

/* Extra Small Devices (Phones) */
@media only screen and (max-width: 576px) {
  :root {
    --main-header-font-size: 1.25rem;
    --main-title-font-size: 8rem;
    --main-body-font-size: 0rem;
    --main-footer-font-size: 0rem;

    --navigation-gap-size: 2rem;
  }
}

/* Small Devices (Tablets) */
@media only screen and (min-width: 577px) and (max-width: 768px) {
  :root {
    --main-header-font-size: 1.75rem;
    --main-title-font-size: 8rem;
    --main-body-font-size: 0rem;
    --main-footer-font-size: 0rem;

    --navigation-gap-size: 2rem;
  }
}

/* Medium Devices (Laptops) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  :root {
    --main-header-font-size: 2rem;
    --main-title-font-size: 8rem;
    --main-body-font-size: 0rem;
    --main-footer-font-size: 0rem;

    --navigation-gap-size: 3rem;
  }
}

/* Large Devices (Desktops) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  :root {
    --main-header-font-size: 2.5rem;
    --main-title-font-size: 8rem;
    --main-body-font-size: 0rem;
    --main-footer-font-size: 0rem;

    --navigation-gap-size: 4rem;
  }
}

/* Extra Large Devices (Large Desktops) */
@media only screen and (min-width: 1201px) {
  :root {
    --main-header-font-size: 2.5rem;
    --main-title-font-size: 8rem;
    --main-body-font-size: 0rem;
    --main-footer-font-size: 0rem;

    --navigation-gap-size: 4rem;
  }
}
