@keyframes title-rotate {
  0% {
    transform: rotate3d(1, 1, 1, 0deg);
  }

  25% {
    transform: rotate3d(1, 1, 1, -45deg);
  }

  75% {
    transform: rotate3d(-1, 1, 1, 45deg);
  }

  100% {
    transform: rotate3d(1, 1, 1, 0deg);
  }
}