html {
  scroll-behavior: smooth;
  font-size: 10px;
}

.page-controller {
  display: flex;
  flex-direction: column;
  background-color: var(--soft-black);
}

/* padding on scroll for page content to align */
.sticky + #body {
  padding-top: 5vh;
}

#inner-body-controller {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
  width: 75dvw;
  z-index: 99;
}

#work-images-section {
  height: 33dvh;
  background-color: red;
}

#about-section {
  height: 33dvh;
  background-color: orange;
}

#socials-section {
  height: 33dvh;
  background-color: red;
}


