html {
  scroll-behavior: smooth;
  font-size: 10px;
}

.page-controller {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--soft-black);
}

/* padding on scroll for page content to align */
.sticky+#body {
  padding-top: 5vh;
}