@keyframes title-sway {
  0% {
    transform: rotate3d(1, 1, 1, 0deg);
    scale: 1;
  }

  25% {
    transform: rotate3d(1, 1, 1, -45deg);
    scale: 0.7;
  }

  75% {
    transform: rotate3d(-1, 1, 1, 45deg);
  }

  100% {
    transform: rotate3d(1, 1, 1, 0deg);
    scale: 1;
  }
}

@keyframes rotate-360 {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}